<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
        <link rel="stylesheet" href="./css/home.css">
        <script src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="./js/xadmin.js"></script>
        <script type="text/javascript" src="./js/jquery.min.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <!--<div class="layui-row empty">
                                <div class="layui-col-md3 layui-col-xs3 square">
                                </div>
                                <div class="layui-col-md3 layui-col-xs3 square">
                                </div>
                                <div class="layui-col-md3 layui-col-xs3 square">
                                </div>
                                <div class="layui-col-md3 layui-col-xs3 square">
                                </div>
                            </div>-->
                            <!--<div class="layui-row">
                                <div class="layui-card-body">
                                    <div class="layui-col-md6 layui-col-xs6">
                                        <span class="layui-btn layui-btn-danger layui-btn-lg" style="font-size: 18px;" onclick="reset()">重新选择</span>
                                    </div>
                                    <div class="layui-col-md6 layui-col-xs6">
                                        <span class="layui-btn layui-btn-normal layui-btn-lg" style="font-size: 18px;" onclick="show()">查看推荐英雄</span>
                                    </div>
                                </div>
                            </div>-->
                            <form class="layui-form layui-col-space5">
                                <div class="layui-col-md3 layui-col-xs3">
                                    <input class="layui-input"  autocomplete="off" placeholder="id" name="battleId" id="battleId">
                                </div>
                                <div class="layui-col-md3 layui-col-xs3">
                                    <input class="layui-input"  autocomplete="off" placeholder="截止日" name="end" id="end">
                                </div>
                                <div class="layui-col-md3 layui-col-xs3">
                                    <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-col-md3 layui-col-xs3">
                                    <button class="layui-btn" onclick="search()" type="button"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                            <div class="layui-row" id="hero_list">
                                <div class="layui-card-body layui-table-body layui-table-main">
                                    <table class="layui-table layui-form" style="font-size: 18px;">
                                        <thead>
                                        <tr>
                                            <th style='width: 5%'>序号</th>
                                            <th style='width: 10%'>ID</th>
                                            <th style='width: 95%'>英雄</th>
                                        </tr>
                                        </thead>
                                        <tbody id="battleInfo">
                                        <!--<tr>
                                            <td>维塔斯博士</td>
                                            <td>80%</td>
                                        </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <hr>
                            <!--<div class="layui-row">
                                <div class="layui-card-header" style="font-size: 18px;">点击选择遗迹魔窟敌方英雄</div>
                                <div class="layui-card-body" id="enemy_hero">
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(function(){
                // search();
            });

            function search() {
                $.ajax({
                    url: "/battle/findAll",
                    data: {id: $("#battleId").val()},
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        var i = 1;
                        $("#battleInfo").empty();
                        $.each(data, function(index, value){
                            var html = "<tr><td style='width: 5%'>"+i+"</td><td style='width: 10%'>"+value.id+"</td><td style='width: 85%'><div class='layui-col-md3 layui-col-xs3'" +
                                "style='padding-bottom: 10px'><img src='./images/moku/"+value.enemyHeroFirstInfo.name+".png' class='square_img'" +
                                "data-id='" + value.enemyHeroFirstInfo.id + "'></div>";
                            if (value.enemyHeroSecondInfo != null) {
                                html += "<div class='layui-col-md3 layui-col-xs3' style='padding-bottom: 10px'>" +
                                    "<img src='./images/moku/"+value.enemyHeroSecondInfo.name+".png' class='square_img'" +
                                    "data-id='" + value.enemyHeroSecondInfo.id + "'></div>";
                            }
                            if (value.enemyHeroThirdInfo != null) {
                                html += "<div class='layui-col-md3 layui-col-xs3' style='padding-bottom: 10px'>" +
                                    "<img src='./images/moku/"+value.enemyHeroThirdInfo.name+".png' class='square_img'" +
                                    "data-id='" + value.enemyHeroThirdInfo.id + "'></div>";
                            }
                            if (value.enemyHeroFourthInfo != null) {
                                html += "<div class='layui-col-md3 layui-col-xs3' style='padding-bottom: 10px'>" +
                                    "<img src='./images/moku/"+value.enemyHeroFourthInfo.name+".png' class='square_img'" +
                                    "data-id='" + value.enemyHeroFourthInfo.id + "'></div>";
                            }
                            if (value.recommendHeroes.length > 0) {
                                for (var j = 0; j < value.recommendHeroes.length; j++) {
                                    html += "<div class='layui-col-md3 layui-col-xs3' style='padding-bottom: 10px;border: 1px solid #000;margin-right: 10px;'>" +
                                        "<span style='margin-right: 10px;'>"+value.recommendHeroes[j].magicHero.name+"</span><span onclick='del("+value.recommendHeroes[j].magicHero.id+")'>X</span></div>"
                                }
                            }
                            html += "<div class='layui-col-md3 layui-col-xs3'><button class='layui-btn' onclick='add("+value.id+")'><i class='layui-icon'></i>添加</button></div>";
                            html += "</td></tr>";
                            $("#battleInfo").append(html);
                            i++;
                        });
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr);
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
                });
            }

            function add(battleInfoId) {
                xadmin.open('添加用户','./battleIndexAdd?battleInfoId='+battleInfoId,600,400);
            }

            function del(battleInfoId) {
                $.ajax({
                    url: "/recommend/delete",
                    type: "POST",
                    data: {id: battleInfoId},
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                    }
                });
            }
            /*$(function(){
                $.ajax({
                    url: "/enemy/findAllHero",
                    // data: {camp: '1'},
                    type: "POST",
                    dataType: "json",
                    success: function(data) {
                        $.each(data, function(index,values){
                            var html = "<div class='layui-col-md1 layui-col-xs1' style='padding-top: 50px;'><span style='font-size: 14px;'>" +
                                "守护</span></div><div class='layui-col-md11 layui-col-xs11' style='padding-bottom: 20px;'>";
                            $.each(values,function(index2,value){
                                html += "<div class='layui-col-md3 layui-col-xs3' style='padding-bottom: 10px'><img src='./images/moku/"
                                    + value.name + ".png' class='square_img' data-id='" + value.id + "'></div>";
                            });
                            html += "</div>";
                            $("#enemy_hero").append(html);
                        });
                    }
                });
            });
            $("#enemy_hero").on("click", ".square_img", function(){
                var imgSrc = $(this).attr('src');
                var id = $(this).attr('data-id');
                var div = $(".empty").find('div');
                for (var i = 0; i < div.length; i++) {
                    if ($(div[i]).find('img').length == 0) {
                        $(div[i]).append("<img src='" + imgSrc + "' class='square_img' data-id='" + id + "'>");
                        return false;
                    }
                }
            });
            function reset() {
                var div = $(".empty").find('div');
                div.map(function () {
                    $(this).empty();
                });
            }
            function show() {
                var div = $(".empty").find('div');
                var arr = new Array(0, 0, 0, 0);
                var i = 0;
                div.map(function () {
                    var img = $(this).find('img');
                    var id = img.attr('data-id');
                    console.log(img);
                    console.log(id);
                    arr[i] = id;
                    i++;
                });
                $.ajax({
                    url: "/battle/create",
                    data: {
                        ids: arr
                    },
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        $("#recommend").empty();
                        $.each(data, function(index, value){
                            var html = "<tr><td style='width: 20%'>"+value.sort+"</td><td style='width: 80%'>"+value.magicHero.name+"</td></tr>";
                            $("#recommend").append(html);
                        });
                        $("#hero_list").show();
                    }
                });
            }*/
        </script>
    </body>
</html>
