<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>末日辅助</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
        <link rel="stylesheet" href="./css/home.css">
        <script src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="./js/xadmin.js"></script>
        <script type="text/javascript" src="./js/jquery.min.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="layui-row empty">
                                <input type="hidden" id="battleId" />
                                <div class="layui-col-md3 layui-col-xs3 square">
                                </div>
                                <div class="layui-col-md3 layui-col-xs3 square">
                                </div>
                                <div class="layui-col-md3 layui-col-xs3 square">
                                </div>
                                <div class="layui-col-md3 layui-col-xs3 square">
                                </div>
                            </div>
                            <div class="layui-row">
                                <div class="layui-card-body">
                                    <div class="layui-col-md6 layui-col-xs6">
                                        <span class="layui-btn layui-btn-danger layui-btn-lg" style="font-size: 18px;" onclick="reset()">重新选择</span>
                                    </div>
                                    <div class="layui-col-md6 layui-col-xs6">
                                        <span class="layui-btn layui-btn-normal layui-btn-lg" style="font-size: 18px;" onclick="show()">查看推荐英雄</span>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row" style="display: none" id="hero_list">
                                <div id="noResult" style="display: none">
                                    <span style="font-size: 18px;color: red;">暂无推荐英雄，系统将会尽快安排</span>
                                </div>
                                <div id="result">
                                    <div class="layui-card-body layui-table-body layui-table-main">
                                        <table class="layui-table layui-form" style="font-size: 18px;">
                                            <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>英雄</th>
                                            </tr>
                                            </thead>
                                            <tbody id="recommend">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="layui-row">
                                        <div class="layui-card-body">
                                            <div class="layui-col-md6 layui-col-xs6">
                                                <button class="layui-btn layui-btn-normal layui-btn-lg" style="font-size: 18px;" id="support" onclick="support()">赞</button>
                                            </div>
                                            <div class="layui-col-md6 layui-col-xs6">
                                                <button class="layui-btn layui-btn-danger layui-btn-lg" style="font-size: 18px;" id="recovery" onclick="recovery()">纠错</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="layui-row">
                                <div class="layui-card-header" style="font-size: 18px;">
                                    <span onclick="change()" style="cursor: pointer">点击选择遗迹魔窟敌方英雄[点击文字可显示/隐藏敌方英雄]</span>
                                </div>
                                <div class="layui-card-body" id="enemy_hero">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(function(){
                $.ajax({
                    url: "/enemy/findAllHero",
                    type: "POST",
                    dataType: "json",
                    success: function(data) {
                        $.each(data, function(index,values){
                            var html = "<div class='layui-col-md1 layui-col-xs1' style='padding-top: 50px;'><span style='font-size: 14px;'>" +
                                "守护</span></div><div class='layui-col-md11 layui-col-xs11' style='padding-bottom: 20px;'>";
                            $.each(values,function(index2,value){
                                html += "<div class='layui-col-md3 layui-col-xs3' style='padding-bottom: 10px'><img src='./images/moku/"
                                    + value.name + ".png' class='square_img' data-id='" + value.id + "'></div>";
                            });
                            html += "</div>";
                            $("#enemy_hero").append(html);
                        });
                    }
                });
            });
            $("#enemy_hero").on("click", ".square_img", function(){
                var imgSrc = $(this).attr('src');
                var id = $(this).attr('data-id');
                var div = $(".empty").find('div');
                for (var i = 0; i < div.length; i++) {
                    if ($(div[i]).find('img').length == 0) {
                        $(div[i]).append("<img src='" + imgSrc + "' class='square_img' data-id='" + id + "'>");
                        return false;
                    }
                }
            });
            function reset() {
                var div = $(".empty").find('div');
                div.map(function () {
                    $(this).empty();
                });
            }
            function support() {
                $.ajax({
                    url: "/battle/update",
                    data: {
                        id: $("battleId").val(),
                        sign: 2
                    },
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        $("#support").attr("disabled", true);
                        $("#support").css("background-color", "grey");
                    }
                });
            }
            function recovery() {
                $.ajax({
                    url: "/battle/update",
                    data: {
                        id: $("battleId").val(),
                        sign: 3
                    },
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        $("#recovery").attr("pointer-events", "none");
                        $("#recovery").css("background-color", "grey");
                    }
                });
            }
            function change() {
                var isHidden = $("#enemy_hero").is(":hidden");
                if (isHidden) {
                    $("#enemy_hero").show();
                }
                else {
                    $("#enemy_hero").hide();
                }
            }
            function show() {
                var div = $(".empty").find('div');
                var arr = new Array(0, 0, 0, 0);
                var i = 0;
                div.map(function () {
                    var img = $(this).find('img');
                    var id = img.attr('data-id');
                    arr[i] = id;
                    i++;
                });
                $.ajax({
                    url: "/battle/create",
                    data: {
                        ids: arr
                    },
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        $("#recommend").empty();
                        if (data.length == 0) {
                            $("#result").hide();
                            $("#noResult").show();
                        }
                        else {
                            $.each(data, function(index, value){
                                var html = "<tr><td style='width: 20%'>"+value.sort+"</td><td style='width: 80%'>"+value.magicHero.name+"</td></tr>";
                                $("#recommend").append(html);
                            });
                            $("battleId").val(data[0].battleInfoId);
                            $("#hero_list").show();
                            $("#result").show();
                            $("#noResult").hide();
                            $("#support").attr("pointer-events", "auto");
                            $("#support").css("background-color", "#1E9FFF");
                            $("#recovery").attr("pointer-events", "auto");
                            $("#recovery").css("background-color", "#FF5722");
                        }
                    }
                });
            }
        </script>
    </body>
</html>
