<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mori.mrfz.mapper.BattleInfoMapper">

    <resultMap id="BaseResultMap" type="com.mori.mrfz.entity.BattleInfo">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="enemy_hero_first" jdbcType="INTEGER" property="enemyHeroFirst" />
        <result column="enemy_hero_second" jdbcType="INTEGER" property="enemyHeroSecond" />
        <result column="enemy_hero_third" jdbcType="INTEGER" property="enemyHeroThird" />
        <result column="enemy_hero_fourth" jdbcType="INTEGER" property="enemyHeroFourth" />
        <result column="current_layer" jdbcType="INTEGER" property="currentLayer" />
        <result column="degree" jdbcType="INTEGER" property="degree" />
        <result column="usage_times" jdbcType="INTEGER" property="usageTimes" />
        <result column="approval_times" jdbcType="INTEGER" property="approvalTimes" />
        <result column="objections_times" jdbcType="INTEGER" property="objectionsTimes" />
    </resultMap>

    <insert id="add" parameterType="com.mori.mrfz.entity.BattleInfo" useGeneratedKeys="true" keyProperty="id">
      insert into battle_info(enemy_hero_first, enemy_hero_second, enemy_hero_third, enemy_hero_fourth, usage_times, approval_times, objections_times)
      values(#{enemyHeroFirst},#{enemyHeroSecond}, #{enemyHeroThird}, #{enemyHeroFourth}, #{usageTimes}, #{approvalTimes}, #{objectionsTimes})
    </insert>

    <update id="update" parameterType="com.mori.mrfz.entity.BattleInfo">
      update battle_info
        <choose>
            <when test="sign == 1">
                set usage_times = #{usageTimes}
            </when>
            <when test="sign == 2">
                set approval_times = #{approvalTimes}
            </when>
            <otherwise>
                set objections_times = #{objectionsTimes}
            </otherwise>
        </choose>
        where id = #{id}
    </update>

    <select id="findInfo" parameterType="com.mori.mrfz.entity.BattleInfo" resultType="com.mori.mrfz.entity.BattleInfo">
      select * from battle_info where enemy_hero_first = #{enemyHeroFirst}
        <choose>
            <when test="enemyHeroSecond != null">
                and enemy_hero_second = #{enemyHeroSecond}
            </when>
            <otherwise>
                and enemy_hero_second is null
            </otherwise>
        </choose>
        <choose>
            <when test="enemyHeroThird != null">
                and enemy_hero_third = #{enemyHeroThird}
            </when>
            <otherwise>
                and enemy_hero_third is null
            </otherwise>
        </choose>
        <choose>
            <when test="enemyHeroFourth != null">
                and enemy_hero_fourth = #{enemyHeroFourth}
            </when>
            <otherwise>
                and enemy_hero_fourth is null
            </otherwise>
        </choose>
    </select>

    <select id="findAll" parameterType="com.mori.mrfz.entity.BattleInfo" resultMap="BaseResultMap">
        SELECT * FROM battle_info where 1=1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="enemyHeroId != null">
            and (enemy_hero_first = #{enemyHeroId} or enemy_hero_second = #{enemyHeroId}
            or enemy_hero_third = #{enemyHeroId} or enemy_hero_fourth = #{enemyHeroId})
        </if>
        <choose>
            <when test="sort == 1">
                order by usage_times asc
            </when>
            <when test="sort == 2">
                order by usage_times desc
            </when>
            <when test="sort == 3">
                order by approval_times asc
            </when>
            <when test="sort == 4">
                order by approval_times desc
            </when>
            <when test="sort == 5">
                order by objections_times asc
            </when>
            <when test="sort == 6">
                order by objections_times desc
            </when>
        </choose>
    </select>

</mapper>
